registry=https://npm-qa.compassphs.com/
proxy=http://proxycachest.hewitt.com:3228/
https-proxy=http://proxycachest.hewitt.com:3228/
//npm-qa.compassphs.com/:_authToken="GO0TpHin3ONURXHCNnILpIt0mWbVicZMJLTT6zwUjps="
strict-ssl=false
