<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="compass-qa" value="https://nuget-qa.compassphs.com/v3/index.json" />
    <add key="compass-prod" value="https://nuget.compassphs.com/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <compass-qa>
      <add key="Username" value="brettfuller" />
      <add key="Password" value="SdbbO+UUB/R8jlPwzDyT/ITdCtQ3EuHkyOYa/NTEDs/QDGrGrS9RHUjWni68kfwfgGOXFpiLVSKnaeOfcncVCR0lLWN2ja2MeRmsOGtPOAqYXF4m5S7BU28Z3tyMqm1X7FksFVnNn6PqzaveR69VUWp/0OJDEBcMpRcaTghwrx4LB0BOCne7XWCvf2yiH4N/v7KHnlKjw3PkoP0T6gG1ej2dHieUfYKi4mnmUyTxt2y0H9w1R0p8Lrl3fI3ZMEKt7YMGQyiqLL6xlFLVASJmsw==" />
    </compass-qa>
    <compass-prod>
      <add key="Username" value="brettfuller" />
      <add key="Password" value="IWyf/Rs9/Oxj+d7lf8UCrIs0hmiOV9EkMGmQplEZ0l+90spc7hTfzL8nyYvk3LM5/ohXxp2JUuvaq/oPpf6Oo8DIAxoiuMW77N3SybhTJ+cddym03psTP6e+uDctOEQ+YJEiG57XIBvmoQulfQrNn+DCrbQa/L7p0zCXkVtpMlv78iPCRpBXQ1JGh1d68LUUERtCQIYkA4RVYDZ2auiOvWNNMP7+7U/6Ygubl+KPgUb6qwsCW1sYol9jdyWqPuLO7HSBmnwSjQFwKfuQ3+em0w==" />
    </compass-prod>
  </packageSourceCredentials>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
</configuration>